.deck-component {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  grid-gap: 10px;
  padding: 10px;
}

.deck-component > div:first-child {
  display: grid;
  grid-template-columns: 1fr auto auto;
  width: 100%;
  grid-gap: 10px;
}